apiVersion: v1
kind: ServiceAccount
metadata:
  name: app-service-account
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kubernetes-reader
  namespace: default
rules:
  - apiGroups:
      - ""
      - apps
      - extensions
      - discovery.k8s.io
    resources:
      - services
      - pods
      - secrets
      - configmaps
      - endpoints
      - endpointslices
    verbs:
      - list
      - watch
      - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: app-service-account-role-binding
  namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kubernetes-reader
subjects:
  - kind: ServiceAccount
    name: app-service-account
    namespace: default
