apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: default
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/component: backend
    primary-port-name: http
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app.kubernetes.io/component: backend
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
